<div class="mx-auto col-lg-8 d-flex justify-content-between border">
   <div class="btn-group-vertical col-lg-2" role="group">
      <button class="btn btn-secondary" (click)="onBtClickV5()">V5</button>
      <button class="btn btn-secondary" (click)="onBtClickV4()">V4</button>
      <button class="btn btn-secondary" (click)="onBtClickV3()">V3</button>
      <button class="btn btn-secondary" (click)="onBtClickV2()">V2</button>
      <button class="btn btn-secondary" (click)="onBtClickV1()">V1</button>
      <button class="btn btn-secondary" (click)="onBtClickVn()">VN</button>
      <button class="btn btn-secondary" (click)="onBtClickVr()">VR</button>
   </div>
   <div class="col-5-">
      <h1 style="text-align: center">Vitesse Courante</h1>
      <p style="text-align: center">{{ currentVitesse }}</p>
   </div>
   <div class="col-lg-4">
      <h1 style="text-align: center">Résultat Action</h1>
      <p style="text-align: center">{{ resultAction }}</p>
   </div>
</div>